<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
        <a class="navbar-brand" href="{{ path('home') }}">Run/Walk 812</a>

        {% if app.request.get('_route') == 'route_view' %}
            <button
                    id="sidebar-button"
                    class="btn btn-outline-warning"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse-sidebar"
                    aria-expanded="true"
                    aria-controls="collapse-sidebar">
                Sidebar
            </button>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('route_index') }}">Routes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Raistlfiren/run812">Code</a>
                </li>
            </ul>
        </div>
    </div>
</nav>